.container {
    max-width: 21.75rem;
    min-height: 5.25rem;

    margin: 0;
    padding: 1.87rem;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    gap: 1.87rem;
    border-radius: 1.25rem;

    background-color: var(--violet-light-bg);
    border: 1px solid var(--red);

    h1{
        color: var(--violet-light-text);
        font-size: 20px;
    }


}
.container:hover{
    box-shadow: 0 0 0.3rem var(--red);

}
.listContacts{
    ul{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        list-style-type: none;

        >li{
            div{
                padding: 0.47rem  1rem;  
                background-color: var(--red);
                border-radius: 1.25rem;
            }
            p{
                color: white;
                font-size: 13px;
                font-weight: bold;

            }
        }
    }
}