.container {
    max-width: 21.75rem;
    min-height: 5.25rem;

    margin: 0;
    padding: 1.87rem 1.87rem 1.87rem 2.5rem;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    gap: 1.87rem;

    border-radius: 1.25rem;
    border: 1px solid var(--red);
    box-shadow: 2px 2px  2px 1px var(--box-shadow);


    overflow: hidden;

    background-color: var(--violet-light-bg);
}
// .container:hover{
//     box-shadow: 0 0 0.6rem var(--red);
//     transition: 0.5s;

// }
.listContacts{
    ul{
        display:flex;
        align-items:flex-start;
        flex-direction: column;
        gap: 1.25rem;
        >li{
            
            display:flex;
            align-items:flex-start;
            flex-direction: column;

        }
    }
}