.container {
    max-width: 21.75rem;
    min-height: 5.25rem;

    margin: 0;
    padding: 1.87rem 1.87rem 1.87rem 2.5rem;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    gap: 1.87rem;

    border-radius: 1.25rem;


    overflow: hidden;

    background-color: var(--violet-light-bg);

    box-shadow: 2px 2px  2px 1px var(--box-shadow);


}
.container:hover{
    transition: .5s;

    box-shadow: 2px 2px  2px 1px var(--red);

}
.listContacts{
    ul{
        display:flex;
        align-items:flex-start;
        flex-direction: column;
        gap: 1.25rem;
        >li{
            
            display:flex;
            align-items:flex-start;
            flex-direction: column;
            
        }
    }
}