:root{
  /* backgraund */
  --violet-bg: #22212C;
  --violet-light-bg: #302F3D;
  --red: #c73030;

  /* box-shadow */
  
  --box-shadow: rgba(0,0,0,0.2);

  /* texts */
  --violet-light-text: #837E9F; 
}

html{
  padding: 0;
  margin: 0;
  background: var(--violet-bg);

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color:var(--violet-light-text);
  text-decoration: none;
  
}

h1{
  font-size: 20px;
  font-weight:bold;

  color:var(--violet-light-text)
}
h2{
  font-weight:bold;
  font-size:14px;
  color:var(--violet-light-text)

}
p{
  font-size:14px;
  color:var(--violet-light-text)
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

