.container{
  width: 100%;
  height: 100%;

  min-width: 25.87rem; 
  
  padding: 2.5rem;

  display: flex;




  .aside{

    padding: 0;
    margin: 0;

    width: 21.75rem;
    height: 100%;

  
    display: flex;
    flex-direction: column;
    gap: 1.87rem;

    @media (max-width: 1024px) {
    // Modifica o posicionamento dos components em monitores < 1024px
      // justify-content:center;
    }

  }
  
  .main{

    width: 100%;
    height: 100%;

    margin-left: 3.75rem;

    display: flex;
    gap: 1.87rem;

    @media (max-width: 1024px) {
      margin-left: 0rem;

      width: 21.75rem;

    }

  
  }

  @media (max-width: 1024px) {

    // Modifica o posicionamento dos components em monitores < 1024px
    flex-direction: column;

    justify-content: center;
    align-items:center;


    .main {
      margin-top:2.5rem
    }

  }
}

