.container{
  padding: 2.5rem;
  
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.aside{
  margin-right: 3.75rem;

  display: flex;
  flex-direction: column;
  gap: 1.87rem;
}

.main{
  display: flex;
  gap: 1.87rem;

}