.container{
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display:flex;

    header{
        width: 60vw;
        height: 5.37rem;
        
        padding:1.87rem;
        border-radius: 1.25rem;

        background-color: var(--violet-light-bg);

        display:flex;
        align-items: center;
        justify-content: space-between;
        
    @media (max-width: 1024px) {
        width: 100%;    
        height: 100%;

        flex-direction: column;
      }
    }
}